$main-color: #1abc9c;

$other-color: #ffffff;

$font-color: #000000;

$gradient-color: #323232;

$gradient-color-to: #8c8c8c;

$background-color: #e9f0fd;

$border-color: #030000;

$other-background-color: #2d3237;