.header {
    grid-area: header;
    background-color: $main-color;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 
        "      .     main-menu       .    "
        "space-left  side-bar  space-right"
}

.main-menu {
    grid-area: main-menu;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.side-bar {
    grid-area: side-bar;
    min-height: 80px;
    background-color: $other-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.space-left {
    grid-area: space-left;
    min-height: 80px;
    background-color: #ffffff;
}

.space-right {
    grid-area: space-right;
    min-height: 80px;
    background-color: $other-color;
}

.contact > a {
    color: $other-color;
    font-size: 10px;
    margin: 0 15px 0 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.menu > a {
    color: $other-color;
    font-size: 10px;
    margin: 0 15px;
    display: inline-block;
}

.cash > span {
    font-size: 15px;
    font-weight: bolder;
}

.login {
    color: $other-color;
    font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 625px) {
    .main-menu {
        flex-direction: column;
        justify-content: center;
    }

    .side-bar {
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        flex-direction: column;
    }

    .menu > a {
        display: block;
    }

    .btn-side-bar > button {
        display: block;
    }
}